<div class="w3-content w3-margin-top" style="max-width:1400px;">  
  <div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>1. Doświadczenie</h2>
    <br>
    <br>

    <div *ngFor="let expItem of fullForm.get('experiences').value">
      <div class="w3-container">
        <h3 class="w3-opacity"><b>{{expItem.companyName}} / {{expItem.positionName}}</b></h3>
        <div *ngIf="!expItem.isNow">
          <h4 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>od {{expItem.startDate | date:'d/M/y'}} do <span class="w3-tag w3-teal w3-round">{{expItem.endDate | date:'d/M/y'}} </span></h4>
        </div>
        <div *ngIf="expItem.isNow">
          <h4 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>od {{expItem.startDate | date:'d/M/y'}} - <span class="w3-tag w3-teal w3-round">do dzisiaj</span></h4>
        </div>
        <p>{{expItem.description}}</p>
        <hr>
      </div>
    </div>
  </div>
<br>
  <br>
  <div class="w3-container w3-card w3-white">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>2. Umiejętności</h2>
    <div class="w3-container">
        {{ getSkills()}}
  </div>
</div>