:host{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
.example-container {
    height: 400px;
    overflow: auto;
    width: 90%;
}
.main{
  margin-left: 5%;
  margin-right: 5%;
}
.mat-card {
    margin-bottom: 10px;
}
  
table {
    width: 100%;
}
.mat-card-header{
    width: 100%;
    color: #114063;
    text-align: center;
    justify-content: center;
}
::ng-deep h1 {
    margin: 1em;
    padding: 0.5em;
    border-top: 3px solid #114063;
    border-bottom: 3px solid #114063;
    border-radius: 30px 0;
    font-weight: 500;
    text-align: center;

}
.mat-card-actions{
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;

}
input[type=button], input[type=submit], input[type=reset]  {
    background-color: #114063;
    border: none;
    color: white;
    padding: 15px 80px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
::ng-deep .mat-card-header-text {
    display: none;
    /* CSS styles go here */
  }
  .mat-card-header-text{
    width: 0%;
  }
  