<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Wyszukaj nazwe">
      </mat-form-field>
    </div>
  <div class="example-table-container">
    <table mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Lp. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element"> {{element.skillName}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>